*{
    margin: 0;
    padding: 0;

}
body{
    background-color: #000000;
    color: white;
}


.bar-hover{
    border: 2px solid transparent;
}
.bar-hover:hover{
    border: 3px solid rgb(189, 160, 160);
}

.gap{
    height: 15px;
    background-color: #000000;
}

.artist-img{
    height: 450px;
    display: flex;
    align-items: center;
    background-color: #130d0dcc;
}
.img {
    margin-left: 50px;
}
.heading{
    width: 400px;
    margin-left: 18px;
    font-size: 2.4rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Panel-1 */

.panel1{
    height: 75px;
    background-color: #130d0dcc;
    display: flex;
}
.box1{
    height: 75px;
    width: 145px;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Follow{
    height: 45px;
    width: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #130d0dcc;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    transition: all;
}
.Follow:active{
    background-color: white;
    color: #000000;
}

.box2{
    height: 75px;
    width: 175px;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.listeners{
    color: rgb(230, 208, 208);
    font-size: 1.2rem;
    font-family:Verdana, sans-serif;
    font-weight: 600;
}

.box3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 64px;
}

.box4{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 75px;
    width: 100%;
}
.box4 img{
    margin-right: 50px;
}
.box4 p{
    color: rgb(216, 195, 195);
    font-size: 1.5rem;
    font-family:Verdana, sans-serif;
    font-weight: 600;
    margin-right: 25px;
}

/* Popular Tracks */

.popular-bar{
    height: 650px;
    background-color: #130d0dcc ;
}
.popular{
    height: 100px;
    display: flex;
    align-items: center;
    color: white;
    font-family:Geneva, Verdana, sans-serif ;
    font-size: 3.4rem;
    font-weight: 600;

}
.popular p{
    margin-left: 25px;
}

/* Top 5 */

.pop{
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #000000;
    border-radius: 24px;
}
.text{
   margin-left: 40px;
   width: 600px;
   display: flex;
    flex-direction: column;
}
#a{
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    font-family:Verdana, sans-serif;
    font-weight: 600; 
}
#b{
    color: rgb(216, 195, 195);
    font-size: 1rem;
    font-weight:100;
    font-family:Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 42px;
}
.buttons{
    margin-right: 70px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
 
}
#menu{
    margin-right:40px;
}
#play{
    margin-right: 20px;
}

/* About Section */

.about-section{
    height: 350px;
    background-color: #130d0dcc ;
}
.about{
    height: 100px;
    display: flex;
    align-items: center;
    color: white;
    font-family:Geneva, Verdana, sans-serif ;
    font-size: 3.4rem;
    font-weight: 600;

}
.about p{
    margin-left: 25px;
}
.info{
    height: 500px;
    width: 80%;
    margin-left: 25px;
    font-size: 1.3rem;
    font-weight: 100;
    color: rgb(224, 212, 212) ;
}
