*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #000000;
}

/* Navbar */

.navbar{
    margin-left: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 65px;
    width: auto;
    background-color: #000000;
}

.poster-hover{
    border: 2px solid transparent;
}
.poster-hover:hover{
    border: 2px solid white;
}

.click{
    border: 2px solid transparent;
}

.click:active{
    border: 2px solid white;
}

/* Box 1 */

.main-logo{
    height: 65px;
    /* width: 155px; */
    display: flex;
    justify-content: center;
    align-items: center;

}
.main-logo p{
    padding-bottom: 9px;
}

/* Box 2 */

.home-logo{
    height: 50px;
    width: 80px;
    margin-top: 6px;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.8rem;
    padding-bottom: 7px;
}
.home-logo a{
    color: white;
    font-family: 'Trebuchet MS', sans-serif ;
    font-size: 1.6rem;
}
.home-logo img{
    color: #b8afaf;
   
}

/* Box 3 */

.search-bar{
    height: 55px;
    width: 700px;
    background-color: #1F1F1F;
    border-radius: 16px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-family: cursive;
    font-size: 1.8rem;
}
.search-bar input{
    height: 55px;
    width: 700px;
    background-color: #1F1F1F;
    border-radius: 16px;
    color: white;
    border: none;
    font-size: 1.4rem;

}


.last-two{
    width: 30%;
    display: flex;
    justify-content: right;
    align-items: center;
}
/* Box 4 */

#signinb{
    height: 65px;
    width:125px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Trebuchet MS', sans-serif ;
    font-size: 1.2rem;
}

/* Box 5 */

.Login{
    height: 45px;
    width: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #000000;
    border-radius: 30px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
}
#loginb{
    color: #000000;
    text-decoration: none;
}

/* Hero Banner */
.hero-banner{
    height: 550px;
    background-color: #000000;
    /* margin-bottom: 20px;
    margin-top: 8px; */
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Artists */

.artists{
    height: 400px;
    width: 100%;
    background-color: #130d0dcc;
}

.artist-head{
    display: flex;
    align-items: center;
    height: 25%;
    padding-left: 7px;
    font-size: 2.2rem;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 800;
    color: white;
}
.artist-img{
    height: 60%;
    display: flex;
    margin-top: 7px;
    align-items: center;
    color: white;
}
.box{
    display: flex;
    align-items:flex-end;
    height: 220px;
    width: 200px;
}
.box1{
    margin-left: 20px;
    background-image: url(rahat.jpg);
    background-size: cover;
}
.box2{
    margin-left: 140px;
    background-image: url(sonu_nigam.jpg);
    background-size: cover;
}
.box3{
    margin-left: 140px;
    background-image: url(pritam.jpg);
    background-size: cover;
}
.box4{
    margin-left: 140px;
    background-image: url(sukhwinder.jpg);
    background-size: cover;
}
.artist-name{
    height: 15%;
    display: flex;
    justify-content:flex-start ;
    align-items: center;
}
.artist{
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 800;
    color: white;
    font-size: 1.6rem;

}
.name1{
    margin-left: 20px;
}
.name2{
    margin-left: 100px;
}
.name3{
    margin-left: 200px;
}
.name4{
    margin-left: 250px;
}

/* Vibe Panel */

.Vibe{
    height: 400px;
    width: 100%;
    background-color: #130d0dcc;
}

.vibe-head{
    display: flex;
    align-items: center;
    height: 25%;
    padding-left: 7px;
    font-size: 2.2rem;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 800;
    color: white;
}
.vibe-img{
    height: 60%;
    display: flex;
    margin-top: 7px;
    align-items: center;
    color: white;
}
.vbox{
    display: flex;
    align-items:flex-end;
    height: 220px;
    width: 200px;
}
.vibebox1{
    margin-left: 20px;
    background-image: url(vibe1.jpg);
    background-size: cover;
}
.vibebox2{
    margin-left: 140px;
    background-image: url(vibe2.jpg);
    background-size: cover;
}
.vibebox3{
    margin-left: 140px;
    background-image: url(vibe3.jpg);
    background-size: cover;
}
.vibebox4{
    margin-left: 140px;
    background-image: url(vibe4.jpg);
    background-size: cover;
}
.vibe-name{
    height: 15%;
    display: flex;
    justify-content:flex-start ;
    align-items: center;
}
.vibe{
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 800;
    color: white;
    font-size: 1.6rem;

}
.vibename1{
    margin-left: 20px;
}
.vibename2{
    margin-left: 180px;
}
.vibename3{
    margin-left: 255px;
}
.vibename4{
    margin-left: 270px;
}

.gap{
    height: 40px;
    background-color: #000000;
}

/* Hollywood Artist */

.Hartist{
    height: 400px;
    width: 100%;
    background-color: #130d0dcc;
}

.hartist-head{
    display: flex;
    align-items: center;
    height: 25%;
    padding-left: 7px;
    font-size: 2.2rem;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 800;
    color: white;
}
.hartist-img{
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 7px;
    align-items: center;
    color: white;
}
.hbox{
    display: flex;
    align-items:flex-end;
    height: 220px;
    width: 200px;
}
.hartistbox1{
    margin-left: 20px;
    background-image: url(billie.jpg);
    background-size: cover;
}
.hartistbox2{
    margin-left: 140px;
    background-image: url(sabrina.jpg);
    background-size: cover;
}
.hartistbox3{
    margin-left: 140px;
    background-image: url(mj.jpg);
    background-size: cover;
}
.hartistbox4{
    margin-left: 140px;
    background-image: url(ariana.jpg);
    background-size: cover;
}
.hartist-name{
    height: 15%;
    display: flex;
    justify-content:flex-start ;
    align-items: center;
}
.hartist{
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 800;
    color: white;
    font-size: 1.6rem;
    display: flex;

}
.hartistname1{
    margin-left: 20px;
}
.hartistname2{
    margin-left: 205px;
}
.hartistname3{
    margin-left: 135px;
}
.hartistname4{
    margin-left: 220px;
}

/* Poster 1 */

.poster1{
    background-color: #130d0dcc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 750px;
    margin: 5px;
}

#posterpara{
    font-size: 2.8rem;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 800;
    color: white;
    padding-bottom: 35px;
    padding-top: 25px;
}

/* Poster 2 */

.poster2{
    background-color: #130d0dcc;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    height: 600px;
    margin: 5px;
}

#posterpara{
    text-align: center;
    font-size: 2.8rem;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 800;
    color: white;
    padding-bottom: 35px;
    padding-top: 25px;
}

.soul{
    height: 450px;
    width: 350px ;
    border: 4px solid rgb(128, 94, 94);
    color: white;
}
.soul-img{
    display: flex;
    justify-content: space-evenly;
}
.soul1{
    background-image: url(badshah.jpg);
    background-size: cover;
}
.soul2{
    background-image: url(bhangra.jpg);
    background-size: cover;
}
.soul3{
    background-image: url(breakup.jpg);
    background-size: cover;
}

.foot-panel1{
    background-color: #352727cc;
    color:white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: 400;
    font-family:'Times New Roman', Times, serif;
}
.foot-panel2{
    background-color: #000000;
    color: white;
    height: 250px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 24px;
}

ul p{
    font-weight: 800;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}
.foot-panel3{
    background-color: #0f1111;
    border-top: 0.5px solid white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo1{
    background-image: url("logowobg.png");
    background-size: cover;
    height: 75px;
    width: 200px;
}


.foot-panel4{
    background-color: #130d0dcc;
    color: white;
    height: 75px;
}
.pages{
    padding-top: 10px ;
    text-align: center;
}
.copyright{
    text-align: center;
}

/* Mini Music Player */
.mini-player {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #1f1f1f;
    border-top: 1px solid #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
    z-index: 9999;
}

.mp-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.mp-cover {
    height: 60px;
    width: 60px;
    border-radius: 6px;
    object-fit: cover;
}

.mp-info {
    display: flex;
    flex-direction: column;
}

.mp-title {
    font-size: 1rem;
    font-weight: 700;
}

.mp-artist {
    font-size: 0.8rem;
    color: #aaa;
}

.mp-center {
    display: flex;
    align-items: center;
    gap: 18px;
}

.mp-btn {
    background: none;
    border: none;
    color: white;
    font-size: 1.6rem;
    cursor: pointer;
    transition: 0.2s;
}

.mp-btn:hover {
    transform: scale(1.2);
}

.mp-right {
    width: 25%;
}

.mp-seek {
    width: 100%;
    height: 4px;
    cursor: pointer;
}


/* FULL PLAYER */
#full-player {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: #0c0c0cec;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999999;
    backdrop-filter: blur(6px);
}

.fp-content {
    text-align: center;
    color: white;
    width: 80%;
}

.fp-cover {
    height: 280px;
    width: 280px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.fp-title {
    font-size: 2rem;
    margin-bottom: 5px;
}

.fp-artist {
    font-size: 1.2rem;
    margin-bottom: 20px;
    opacity: 0.8;
}

#fp-seek {
    width: 80%;
    margin: 10px 0;
}

.fp-controls button {
    font-size: 2rem;
    margin: 0 20px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

#fp-close {
    margin-top: 25px;
    padding: 10px 18px;
    font-size: 1rem;
    background: white;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


